CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

##	Visual Studio temporary files
.vs/
##  LooUQ project files
.project/

## VSCode build
.build/
build/

tests/LTEmC-5-modeminfo/.vscode/c_cpp_properties.json
tests/LTEmC-6-gnss/.vscode/c_cpp_properties.json
tests/LTEmC-7-sockets/.vscode/c_cpp_properties.json
test/LTEmC-8-mqtt/.vscode/c_cpp_properties.json
tests/LTEmC-9-http/.vscode/c_cpp_properties.json
